# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Block the specific large JAR file
docker/*.jar

# Block all compiled Java archives globally
*.jar
*.war
*.ear

# Block common build and target directories
target/
build/
bin/


# Branch switching
generated/

**/.DS_Store
